@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Syne Mono', monospace;
    
}

.stats
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.EnergyPer
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: calc(12px + 3vw);
    place-items: center;
}



.CC
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
padding-bottom: 10px;
padding-top: 10px;
background: radial-gradient(#DBB871, #192A40);
border: 5px solid black;


}

.BoltContainer
{
display: flex;
background-color: #404042;
align-items: center;
justify-content: center;
height: 25vw;
width: 25vw;
border-radius: 50%;

}


.ClickTarget
{
    width: 15vw;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.Scale 
{
    transform: scale(1.1, 1.1);
}

h3
{
    font-size: calc(16px + 2vw);
    text-align: center;
 
}

.ShopAndTitle
{
    background-color: #809BB9;
}

.shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}

ul{

    list-style: none;
    display: grid;
    grid-template-rows: repeat(7, 10vh);
    font-size: calc(12px + 1vw);
}

.ShopBuyButtons button
{
    border-radius: 8px;
    width: fit-content;
    height: 50px;
    padding: 2px;
    text-align: center;
    font-size: calc(8px + 1vw);
}

.EnergyTotal
{
    font-size: calc(16px + 3vw);
}


h2
{
    text-align: center;
    font-size: calc(16px + 2vw);
    background-color: #809BB9;
    padding-top: 5px;
    padding-bottom: 5px;
}